body {
  font-family: "Vazir";
}
.store-body {
  text-align: center;
}
.store-title {
  color: rgb(255, 80, 36);
}
span {
  color: red;
}
.store-name {
  color: rgb(0, 136, 255);
}
.btn-buy {
  font-family: "Vazir";
  font-weight: bolder;
  color: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: rgba(187, 187, 187, 0.553);
}
